<template>
  <div class="page-not-found">
      <h1>404</h1>
      <div>
        <p>PAGE NOT FOUND</p>
      </div>
  </div>
</template>

<style lang="scss">
.page-not-found{
  height: 500px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  h1{
    font-size: 100px;
  }
  p{
    font-size: 30px;
  }
}
</style>
