<template>
  <div>
    <div class="order-header">
       <v-container grid-list-md text-xs-center>
        <v-layout row wrap>
          <v-flex xs12>
            <h1>your order</h1>
          </v-flex>
        </v-layout>
      </v-container>
    </div>
    <v-container grid-list-md text-xs-center>
      <v-layout row wrap>
        <v-flex xs6>
          <BigCartItems />
        </v-flex>
        <v-flex xs6 v-if="smallCartLenght>0">
         <div class="order-details">
           <div class="order-select delivery">
             <v-select
              @change="changeDetails"
              :items="deliveryKind"
              name="delivery"
              label="Select a delivety"
              v-model="delivery"
              ></v-select>
           </div>
           <div class="order-select delivery-adress">
             <v-text-field
              @change="changeDetails"
              v-model="deliveryadress"
              label="Delivery adress"
            ></v-text-field>
           </div>
           <div class="order-select delivery">
             <v-select
              @change="changeDetails"
              :items="payKind"
              name="pay"
              label="Select a payment"
              v-model="payment"
              ></v-select>
           </div>
         </div>
        </v-flex>
        <v-flex xs12 v-if="smallCartLenght>0">
          <div class="cart-footer">
            <div class="bay-btn">
              <button
                v-bind:class="{ error: orderError }"
                @click="order"
              >
                order
              </button>
            </div>
          </div>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import BigCartItems from '@/components/BigCartItems.vue'
export default {
  components: {
    BigCartItems
  },
  computed: {
    smallCartLenght() {
      return this.$store.getters.getSmallCartLenght
    },
     products(){
      return this.$store.getters.getBigCart
    },
  },
  data() {
    return {
      orderError: false,
      delivery: '',
      payment: '',
      deliveryadress: '',
      deliveryKind: [
        'Self-checkout',
        'Nova poshta'
      ],
      payKind: [
        'Cash',
        'Non-cash'
      ]
    }
  },
  methods: {
    changeDetails: function () {
      this.buttonSeccses()
    },
    buttonError: function () {
      this.orderError = true
    },
    buttonSeccses: function () {
      this.orderError = false
    },
    order: function () {
      if(this.delivery == '' || this.payment == '' || this.deliveryadress ==''){
        this.buttonError()
      }else{
        let order = {
          delivery: this.delivery,
          payment: this.payment,
          deliveryadress: this.deliveryadress,
          products: []
        }
        this.products.forEach(function(item) {
          let prod = {}
          prod.productId = item.id
          prod.productPrice = item.price
          prod.productSize = item.size
          order.products.push(prod)
        });
        console.log(order)
      }
    }
  }
}
</script>

<style lang="scss">
.cart-footer{
  background: #fff;
  padding: 20px 0;
  .bay-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    button{
      width: 300px;
      background-color: #1b1b1b;
      color: #fff;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
      text-transform: uppercase;
      outline: none;
    }
  }
}
.primary--text {
  color: #000 !important;
  caret-color: #000 !important;
}
.order-header{
  background: #fff;
  margin-top: 6px;
  margin-bottom: 20px;
  h1{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 400;
    padding: 7px 0;
  }
}
.order-details{
  .order-select{
    padding: 30px;
    background: #dfe6ea;
    margin-bottom: 20px;
  }
}
</style>
